.collapse-button {
  display: block;
  float: left;
  width: 177px;
  height: 56px;
  border-radius: 4px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 2147483647;
  cursor: pointer;
  background: #2D1961;
  color: white;
  transition: background .2s;
  margin: 0;
}

.not-flat:not(.open) .collapse-button:hover {
  background: #150836;
}

.not-flat.open .collapse-button {
  background: #150836;
  width: 150px;
}

.not-flat:not(.open) .collapse-button__logo {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  left: 22px;
  background-repeat: no-repeat;
}

.collapse-button__text {
  text-align: right;
  padding-right: 22px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  -webkit-user-select: none;
  font-size: 14px !important;
  margin-top: 20px;
}

.collapse-button__text span {
  opacity: 0.5;
}

.open .collapse-button__show {
  display: none;
}

.collapse-button__show {
  display: inline;
}

.collapse-button__hide-arrow {
  position: relative;
  margin-right: 7px;
  letter-spacing: 0px;
  display: inline-block;
  width: 12px;
  height: 10px;
  background-repeat: no-repeat;
  opacity: 1;
}

.collapse-button__hide {
  display: none;
}

.open .collapse-button__hide {
  display: inline;
}

.not-flat:not(.open) .collapse-button__hide-arrow {
  display: none;
}
