/* CSS Goes here */
body .not-flat {
  background: #150836 !important;
  bottom: 16px !important;
  display: block !important;
  font-family: Lato, sans-serif !important;
  width: 177px !important;
  height: 56px !important;
  position: fixed !important;
  right: 16px !important;
  transition: width .4s, height .4s !important;
  z-index: 2147483647 !important;
  border-radius: 4px !important;
  overflo-x: hidden !important;
  overflow-y: scroll !important;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(21,8,54,0.25) !important;
}

body .not-flat * {
  font-family: Lato, sans-serif !important;
}

.hide-bias .not-flat {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
}

body .not-flat.open {
  height: 375px !important;
  height: calc(100vh - 2rem) !important;
  width: 375px !important;
}

body .not-flat__title {
  color: white !important;
  display: block !important;
  float: left !important;
  width: 100% !important;
  box-sizing: border-box !important;
  text-align: center !important;
  font-family: 'LatoLight', sans-serif  !important;
  font-size: 22px !important;
  font-weight: 100 !important;
  letter-spacing: 1px !important;
  margin: 0 !important;
  padding: 30px !important;
}

body .not-flat__alternatives {
  min-height: 100px !important;
  padding-bottom: 55px !important;
  width: 100% !important;
}

body .not-flat__alternatives-spinner-container {
  color: #fff !important;
  margin: 60px auto !important;
  opacity: .5 !important;
  padding-left: 35px !important;
  position: relative !important;
  text-align: center !important;
  width: 127px !important;
}

body .not-flat__alternatives-inner {
  opacity: 0 !important;
  margin-top: 50px !important;
  transition: all .5s !important;
}

body .not-flat__alternatives.loaded .not-flat__alternatives-inner {
  opacity: 1 !important;
  margin-top: 0 !important;
}

.not-flat__alternatives-spinner {
  animation-duration: 1000ms !important;
  animation-iteration-count: infinite !important;
  animation-name: spin !important;
  animation-timing-function: linear !important;
  background-repeat: no-repeat !important;
  display: inline-block !important;
  height: 23px !important;
  left: 0 !important;
  position: absolute !important;
  width: 23px !important;
}

@keyframes spin {
  from {transform:rotate(0deg)}
  to {transform:rotate(360deg)}
}

body .not-flat__alternatives-spinner-text {
  display: inline-block !important;
  font-size: 21px !important;
}

body .not-flat__alternatives.loaded .not-flat__alternatives-spinner-container {
  display: none !important;
}

body .bias-gauge {
  display: block !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 186px !important;
  margin: 90px auto 0 !important;
  position: relative !important;
  width: 282px !important;
}

body .bias-gauge::after {
  content: '' !important;
  display: block !important;
  width: 2px !important;
  height: 32px !important;
  background: #150836 !important;
  position: absolute !important;
  margin-left: -1px !important;
  left: 50% !important;
}

body .bias-gauge__indicator {
  display: block !important;
  position: absolute !important;
  width: 12px !important;
  height: 43px !important;
  box-style: border-box !important;
  left: 50% !important;
  margin-left: -10px !important;
  margin-top: -9px !important;
  transform-origin: 10px 149px !important;
  transition: transform 2s !important;
  will-change: transform !important;
  z-index: 1 !important;
}

/* -105deg - 0deg -- 105deg */
body .bias-gauge__indicator.loading {
  transform: rotate(0deg) !important;
  animation-name: thinkingGauge !important;
  animation-duration: 3s !important;
  animation-iteration-count: infinite !important;
}

@keyframes thinkingGauge {
  0% {transform: rotate(5deg)}
  50% {transform: rotate(-2deg)}
  100% {transform: rotate(5deg)}
}

body .bias-gauge__modifier {
  bottom: 53px !important;
  color: #fff !important;
  font-size: 13px !important;
  letter-spacing: 2px !important;
  margin: 0 !important;
  position: absolute !important;
  text-align: center !important;
  text-transform: uppercase !important;
  width: 100% !important;
}

body .bias-gauge__modifier--conservative {
  bottom: 58px !important;
}

body .bias-gauge__label {
  bottom: 10px !important;
  color: #fff !important;
  font-size: 36px !important;
  font-weight: bold !important;
  margin: 0 !important;
  position: absolute !important;
  text-align: center !important;
  width: 100% !important;
}

body .bias-gauge__label--conservative {
  font-size: 31px !important;
  bottom: 15px !important;
}
