.related-title {
  color: white !important;
  font-size: 13px !important;
  letter-spacing: 1px !important;
  letter-spacing: 2px !important;
  margin: 70px 0 25px 20px !important;
  opacity: .5 !important;
  position: relative !important;
  text-transform: uppercase !important;
  width: 335px !important;
}

.related-title::after {
  background: white !important;
  content: '' !important;
  display: block !important;
  height: 1px !important;
  position: absolute !important;
  right: 0 !important;
  top: 8px !important;
  width: 185px !important;
}

.related-article {
  display: block !important;
  width: 336px !important;
  background: white !important;
  margin: 20px !important;
  text-decoration: none !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  padding: 20px !important;
  color: #0F081F !important;
  position: relative !important;
}

.related-article__image {
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  width: 100%;
}

.related-article__title {
  margin: 0 !important;
  font-size: 18px !important;
  line-height: 26px !important;
}

.related-article__desc {
  color: #616161 !important;
  font-family: 'Lora'  !important;
  font-size: 16px !important;
  line-height: 1.2 !important;
  margin-top: 10px !important;
}

body .related-article__desc {
  font-family: 'Lora' !important;
}

.related-article__name {
  font-size: 11px !important;
  color: #616161 !important;
}

.related-article__bias {
  padding: 4px 10px !important;
  background: #EEECF2 !important;
  border-radius: 10px !important;
  font-size: 11px !important;
  position: absolute !important;
  bottom: 15px !important;
  right: 10px !important;
  color: #150836 !important;
}

.related-article__bias.liberal:not(.slightly) {
  background: #3852A4 !important;
  color: white !important;
}

.related-article__bias.conservative:not(.slightly) {
  background: #EE3A4D !important;
  color: white !important;
}
